/* Main stylesheet semantic block    */
body
{
    background-color:white;
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    color:black;
    margin:0;
    /*background-image: url("../img/background.jpg");*/
}

/* Article stylesheet block         */
article
{   
    margin-top: 75px;
    margin-left: 25px;
    margin-right: 25px;
}
/*----------------------------------*/

/* */
h1{
    color: #156faa;
    font-size: 24px;
}
h1.stile-esterno{
    color: brown;
    font-size: 24px;
}

h2{
    color: #156faa;
    font-size: 24px;
}

/* Nav bar stylesheet block         */
nav {
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #156faa;
    border-color:  #156faa;
}
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
nav a:hover {
    background: #60afd3;
}
/*----------------------------------*/

/* Main stylesheet block             */
main {
    margin-top: 50px;
}
/*----------------------------------*/

/* Article stylesheet block         */
h1.title {
    text-align: center;
}
/*----------------------------------*/

