/*@import url("style-ecg.css");*/
/*@import url("style-ecg.css");*/
@import url("style-responsive-nav-bar.css");

body{
   margin: 0px;
   font-family: Roboto, Arial;
   background-color: white;
}
 .container-flex-row {
    display: flex;
    flex-direction: row;
 }
 .container-flex-row > .item {
    background-color: red;
 }

 .container-flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .container-flex-row-center > .item {
    background-color: red;
 }
 
 .container-flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
 }
 .container-flex-row-start > .item {
    background-color: red;
 }
 
 .container-flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content:end;
 }
 .container-flex-row-end > .item {
    background-color: red;
 }
 
 .container-flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
 }
 .container-flex-row-space-between > .item {
    background-color: red;
 }
 .container-flex-row-space-around {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
 }
 .container-flex-row-space-around > .item {
    background-color: red;
 }

 .container-flex-row-space-around-with-height {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 400px;
    background-color: cyan;
 }
 .container-flex-row-space-around-with-height > .item {
    background-color: red;
 }
 .container-flex-row-space-around-with-height-end {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around;
    align-items: flex-end;
    height: 400px;
    background-color: cyan;
 }
 .container-flex-row-space-around-with-height-end > .item {
    background-color: red;
 }
 

.container-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
 }

 .container-flex-row-reverse > .item {
    background-color: green;
 }

.container-flex-column {
    display: flex;
    flex-direction: column;

}
.container-flex-column > .item {
    background-color: yellow;
 }

.container-flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.container-flex-column > .item {
    background-color: blue;
 }

.item {
    padding: 10px;
    margin: 5px;
    background-color: red;
}

.big {
    flex-grow: 2;
}

.big-order {
    flex-grow: 2;
    order: 1;
}


/* Media queries rule for device > 1225 */
@media (min-width: 1225px){ 
   .responsive-navbar li{
       float: left;
   }
   .responsive-navbar li a{
       padding: 20px 30px;
   }
   .responsive-navbar .menu{
       clear: none;
       float: right;
       max-height: 240px;
   }
   .responsive-navbar .menu-icon{
       display: none;
   }
   /* Body block */
   body{
       height: calc(100% + 20%);    
   }   
   /* Main block */ 
   main {
       margin-left:15%;
       margin-right:15%;
       min-height: calc(100% + 20%);
   }
   /* Footer block */
   footer {
       margin-left:15%;
       margin-right:15%;
       height: 20%; 
   }    
   /* Class footer-upper */
   .footer-flex-upper {
       display: flex;
       flex-direction:row;
       justify-content: start;
       margin: 0px 2%;
       padding: 45px 0px; 
       font-size: 13px;
   }
   .footer-flex-upper a {
       padding: 10px 5px;    
   }
   .footer-flex-upper .footer-flex-upper-left {
       display: flex;
       flex-direction: row;
       justify-content: start;
       width: 50%;
   }
   .footer-flex-upper .footer-flex-upper-right {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-top: 12px 3px;
        width: 50%;
   } 
   .footer-flex .footer-flex-upper-1225 {
       display: none;
   } 
   .footer-flex .footer-flex-center-1225 {
       display: none;
   } 
   .footer-flex-lower {
       justify-content: start;
   }
}