.cWrapper {
    width: 200px;
    height: 300px;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  .cPoint {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 50px;
    -webkit-animation-name: pulse;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.0s;
    /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 2.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .p1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .p2 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .p3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .p4 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .p5 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  @-webkit-keyframes pulse {
    0% {
      left: 0px;
      top: 50px;
    }
    30% {
      left: 50px;
      top: 50px;
    }
    40% {
      left: 70px;
      top: 0px;
    }
    60% {
      left: 90px;
      top: 100px
    }
    70% {
      left: 110px;
      top: 50px;
    }
    100% {
      left: 160px;
      top: 50px;
    }
  }
  @keyframes pulse {
    0% {
      left: 0px;
      top: 50px;
    }
    30% {
      left: 50px;
      top: 50px;
    }
    40% {
      left: 70px;
      top: 0px;
    }
    60% {
      left: 90px;
      top: 100px
    }
    70% {
      left: 110px;
      top: 50px;
    }
    100% {
      left: 160px;
      top: 50px;
    }
  }
 
  $animation-time: 6s; /* This  is the one-cycle time */
 $animation-key: $animation-time/1s;
 $newbpm: 360 / $animation-key;
 $bpm: $animation-key*10s;
 
 .number-1 {
  font-size: 6rem;
  text-align: center;
  width: 6rem;
  position: relative;
  &:after {
   display: block;
   position: absolute;
   content: $newbpm + "";
   width: 12rem;
   height: 10rem;
   top: 0;
   left: 0;
  }
  span {
   font-size: 2rem;
   position: relative;
   top: -2rem;
   //margin-left: 11rem;
   left:-5rem;
   opacity: 1;
   animation: beat ($animation-time/6) infinite;
  }
 }
 
 body {
  background: #151515;
  margin: 2rem 0;
  background-position: top left, top right;
  color: #37af8c;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  text-shadow: 0 0 4px #37af8c;
  &:after {
   /* Interlace effect */
   background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.2) 80%
   );
   background-size: 5px 3px;
   display: block;
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
  }
 }
 .container {
  max-width: 900px;
  margin: 0 auto;
 }
 .graph {
  /* the green gradient */
  outline: 1px #37af8c solid;
  box-shadow: 0 0 4px #37af8c;
  padding: 0;
  background: linear-gradient(90deg, #231f20 0, #37af8c 50%, #231f20 50%);
  animation: travel $animation-time infinite linear;
  display: flex;
  background-size: 100% auto;
  background-position: -380px 0;
  height: 200px;
 }
 
 .cell {
  margin: 0;
  display: flex;
  width: 16.7%;
  height: 100%;
  background: url(https://gistcdn.githack.com/alexmwalker/0993e72c768ddcb45c1b1e41d3ffaffe/raw/ac804d1a4153c6a7595a9778626005feb34098a8/hr.svg);/* this SVG doesn't have the numbers */
  background: url(https://gistcdn.githack.com/alexmwalker/ab0ffcafbeed4f91756a06531c5cba1d/raw/13a6b6d3b69316a8064f26dd9d341451c34f6bff/hr-with-numbers.svg);
  background-size: 700% auto;
  animation: shuffle $animation-time*6 steps(1) infinite;
  &:hover {
  }
 }
 .cell-1 {
  background-position: 0, 0;
  animation-delay: ($animation-time/6)*-2;
 }
 .cell-2 {
  background-position: 16.6%, 0;
  animation-delay: ($animation-time/6)*-13;
 }
 .cell-3 {
  background-position: 33.3%, 0;
  animation-delay: ($animation-time/6)*-30;
 }
 .cell-4 {
  background-position: 50%, 0;
  animation-delay: ($animation-time/6)*-5;
 }
 .cell-5 {
  background-position: 66.6%, 0;
  animation-delay: ($animation-time/6)*-22;
 }
 .cell-6 {
  background-position: 83.3%, 0;
  animation-delay: ($animation-time/6)*-9;
 }
 
 @keyframes shuffle {
  0% {
   background-position: 83.3%, 0;
  }
  16.6% {
   background-position: 33.33%, 0;
  }
  33.3% {
   background-position: 66.66%, 0;
  }
  50% {
   background-position: 16.66%, 0;
  }
  66.6% {
   background-position: 50%, 0;
  }
  83.3% {
   background-position: 0%, 0;
  }
 }
 
 @keyframes beat {
  0% {
   opacity:  1;
  }
  35% {
   opacity: 1;
  }
  45% {
   opacity: 0.3;
  }
  60% {
   opacity: 1
  }
 
  100% {
   opacity: 1;
  }
 }
 
 @keyframes travel {
  0% {
   background-position: -380px 0;
  }
  100% {
   background-position: 380px 0;
  }
 }
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .wrapper {
    position: relative;
    background: #000;
    width: 100%;
    height: 50px;
    overflow: hidden;
  }
  
  .blockcont {
    position: relative;
    top: 50%;
    width: 100%;
  }
  
  .block {
    background: #fff;
    width: 5px;
    height: 5px;
    position: absolute;
    float: left;
    border-radius: 5px;
    transition: all 2s;
    animation: ecg 5s linear infinite;
  }
  
  .block:nth-child(1) {
    animation-delay: 232ms;
  }
  
  .block:nth-child(2) {
    animation-delay: 224ms;
  }
  
  .block:nth-child(3) {
    animation-delay: 216ms;
  }
  
  .block:nth-child(4) {
    animation-delay: 208ms;
  }
  
  .block:nth-child(5) {
    animation-delay: 200ms;
  }
  
  .block:nth-child(6) {
    animation-delay: 192ms;
  }
  
  .block:nth-child(7) {
    animation-delay: 184ms;
  }
  
  .block:nth-child(8) {
    animation-delay: 176ms;
  }
  
  .block:nth-child(9) {
    animation-delay: 168ms;
  }
  
  .block:nth-child(10) {
    animation-delay: 160ms;
  }
  
  .block:nth-child(11) {
    animation-delay: 152ms;
  }
  
  .block:nth-child(12) {
    animation-delay: 144ms;
  }
  
  .block:nth-child(13) {
    animation-delay: 136ms;
  }
  
  .block:nth-child(14) {
    animation-delay: 128ms;
  }
  
  .block:nth-child(15) {
    animation-delay: 120ms;
  }
  
  .block:nth-child(16) {
    animation-delay: 112ms;
  }
  
  .block:nth-child(17) {
    animation-delay: 104ms;
  }
  
  .block:nth-child(18) {
    animation-delay: 96ms;
  }
  
  .block:nth-child(19) {
    animation-delay: 88ms;
  }
  
  .block:nth-child(20) {
    animation-delay: 80ms;
  }
  
  .block:nth-child(21) {
    animation-delay: 72ms;
  }
  
  .block:nth-child(22) {
    animation-delay: 64ms;
  }
  
  .block:nth-child(23) {
    animation-delay: 56ms;
  }
  
  .block:nth-child(24) {
    animation-delay: 48ms;
  }
  
  .block:nth-child(25) {
    animation-delay: 40ms;
  }
  
  .block:nth-child(26) {
    animation-delay: 32ms;
  }
  
  .block:nth-child(27) {
    animation-delay: 24ms;
  }
  
  .block:nth-child(28) {
    animation-delay: 16ms;
  }
  
  .block:nth-child(29) {
    animation-delay: 8ms;
  }
  
  .block:nth-child(30) {
  }
  
  @keyframes ecg {
    0% {
      left: 0;
    }
  
    25% {
      left: 25%;
      transform: translate(0,0);
    }
  
    50% {
      left: 50%;
      transform: translate(0,0);
    }
  
    26%,51%,76% {
      transform: translate(0,-30px);
    }
  
    27%,52%,77% {
      transform: translate(0,0);
    }
  
    28%,53%,78% {
      transform: translate(0,30px);
    }
  
    29%,54%,79% {
      transform: translate(0,0);
    }
  
    30%,55%,80% {
      transform: translate(0,10px);
    }
  
    31%,56%,81% {
      transform: translate(0,0);
    }
  
    75% {
      left: 75%;
      transform:translate(0,0);
    }
  
    100% {
      left: 100%;
    }
  }