/* Class responsive-navbar rule */
.responsive-navbar{
    background-color:white;
    box-shadow: 1px 1px 4px 0 rgb(134, 180, 218);
    position: fixed;    
    width: 100%;
    z-index: 1;
 }
 .responsive-navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color:white;
 }
 .responsive-navbar ul a{
    display: block;
    /*border-right: 1px solid red;*/
    padding: 20px 20px;
    text-decoration: none;
 }
 .responsive-navbar ul a:hover{
    background-color: rgba(218, 214, 214, 0.904);
 }
 .responsive-navbar .menu{
    clear: both;
    max-height: 0;
    transition: max-height 1.2s ease-out
 }
 .responsive-navbar .menu-icon{
    /*border: 1px solid red;*/
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
 }
 .responsive-navbar .menu-icon .nav-icon{
    background-color: rgb(27, 153, 175);
    display: block;
    width: 20px;
    height: 3px;
    position: relative;
    transition: background-color .2s ease-out;
 }
 .responsive-navbar .menu-icon .nav-icon:before,
 .responsive-navbar .menu-icon .nav-icon:after{
    background-color: rgb(27, 153, 175);
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 1.2s ease-out;
    top: 5px;
 }   
 .responsive-navbar .menu-icon .nav-icon:before{
    top: -5px;
 }
 .responsive-navbar .menu-btn{
    display: none;
 }
 .responsive-navbar .menu-btn:checked ~ .menu{
    max-height: 240px;   
 }
 .responsive-navbar .menu-btn:checked ~ .menu-icon .nav-icon{   
    background-color: transparent;
 }
 .responsive-navbar .menu-btn:checked ~ .menu-icon .nav-icon::before{   
    transform: rotate(-45deg);
    top: 0px;
 }
 .responsive-navbar .menu-btn:checked ~ .menu-icon .nav-icon::after{   
    transform: rotate(45deg);
    top: 0px;
 }
 