$primary-color: #3498db;
$success-color-background: #2ecc71;
$success-color-foreground: #fff;
$color-code: #FFF;
$color-background-code: #000;
$color-alert-message: #ff652f;
$color-success-message: #2ecc71;
$color-bg-box: #3497e9;
$color-bg-box-conainer: #7d9ecf;
$color-bg-box-video-2sample: #FFF;
$backcolor-bg-box-video-2sample: #000000;
$light-theme: #FFF;
$dark-theme: #000;
$font-weights: (
    "tiny": 200,
    "regular": 400,
    "medium": 500,
    "bold": 700,
    "bolder": 800
);
$mobile :800px;