body{
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    font-weight: 400!important;
    line-height: 1.5;
    padding: 0;
}

.content {
    width: 100%;
  }

.illustration {
    height: auto;
    max-width: 100%; /* Limita la larghezza massima dell'immagine */
  }

.container {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: start;
  }

.right {
    text-align: right;
}   

.left {
    text-align: left;
    background-color: bisque;
    padding: 10px;
}   

.center {
    text-align: center;
    background-color: bisque;
    padding: 10px;
}   

.justify {
    text-align: justify;
    background-color: bisque;
    padding: 10px;
}   

figcaption {
    display: none;
  }
  @media only screen and (min-width: 900px) {
    figure {
      position: relative;
    }
    figcaption {
      display: block;
      font-style: italic;
      text-align: right;
      background-color: #FFFFFF;
      position: absolute;
      left: -220px;
      width: 200px;
    }
  }