/* classe di esempio less */
.less-sample {
  background-color: #000;
}
nav {
  background-color: #FFF;
}
nav ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  height: 30px;
}
nav ul li a:hover {
  font-weight: bolder;
}
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 0 10px;
}
.size {
  width: 10%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 0 10px;
}
