/* 73_example_html_tables/asset/css/style.css */

/* semantic block */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    font-weight: 400!important;
    line-height: 1.5;
    padding: 0;
}

/* element block */
mark {
    background-color: rgb(230, 242, 247);
    color: black;
  }

 /* classe per tabelle con CSS */
table.table2{
    width: 100%;
    border-collapse: collapse; /* Elimina lo spazio tra i bordi delle celle */
  }
  
th,td.table2{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
tr.table2:nth-child(even) {
    background-color: #f2f2f2; /* Colore di sfondo per le righe pari */
  }
th.table2{
    background-color: #4CAF50;
    color: white;
  }
  

table.table1{
  width: 100%;
  border-collapse: collapse;
}

th,td.table1{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even).table1{
  background-color: #f2f2f2;
}
th.table1{
  background-color: #4c8baf;
  color: white;
}
@media screen and (max-width: 600px)  {
  table.table1 {
    width: 100%;
    display: block;
    overflow-x: auto; /* Aggiunge uno scorrimento orizzontale */
  }
}

table.table3{
  width: 100%;
  border-collapse: collapse;
}

th,td.table3{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
td.table3{
  color: white;
}
tr:nth-child(even).table3{
  background-color: #f2f2f2;
}
th.table3{
  background-color: #9da1a3;
}
@media screen and (max-width: 600px)  {
  table.table3 {
    width: 100%;
    display: block;
    overflow-x: auto; /* Aggiunge uno scorrimento orizzontale */
  }
}
