@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/Edu_AU_VIC_WA_NT_Guides/EduAUVICWANTGuides-VariableFont_wght.ttf')  format('truetype'); /* Safari, Android, iOS */
  }

body{
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    font-weight: 400!important;
    line-height: 1.5;
    padding: 0;
}

#lesson-test-font {
    font-family: 'MyCustomFont';

}